@import "tailwindcss";

:root[data-theme="dark"] {
  --primary-color: #222;
  --secondary-color: #373737;
  --secondary-color-hover: #4d4d4d;
  --third-color: #5a4cb2;
  --third-color-hover: #6758cc;
  --text-color: #ffffff;
  --text-color-reverse: #000;
  --list-background-color: var(--secondary-color);
  --list-background-color-hover: var(--third-color);
  --btn-delete-background-color: rgba(255, 255, 255, 0.2);
  --btn-delete-background-color-hover: rgba(255, 255, 255, 0.3);
  --confirmDelete: #c6225b;
  --background-pattern: url(../images/pattern_white.png);
}

:root[data-theme="light"] {
  --primary-color: #fff;
  --secondary-color: #e5e5e5;
  --secondary-color-hover: #cccccc;
  --third-color: black;
  --third-color-hover: #0067de;
  --text-color: #000;
  --text-color-reverse: #fff;
  --list-background-color: var(--secondary-color);
  --list-background-color-hover: #ffe494;
  --btn-delete-background-color: rgba(255,255,255,.8);
  --btn-delete-background-color-hover: rgba(255,255,255,1);
  --confirmDelete: #c6225b;
  --background-pattern: url(../images/pattern_black.png);
}

:root {
  --border-radius: 3px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 14px;
  margin: 15px;
  padding: 0;
}

a {
  color: var(--text-color);
}

.radius {
  border-radius: var(--border-radius);
}

.opacity {
  opacity: .8;
}

.btn {
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--secondary-color-hover);
}